<h2>All Historical Landmarks</h2>

<% Landmark.all.each do |lm|%>
  <h3><%= lm.name%></h3>
  <h3><%= lm.year_completed%></h3>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
